/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/


footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

        p {
        padding-left: 20px;
        padding-right: 20px;
    }
}

h2{
    color: #075aab;
}



.links a :link {
        color: blue;
        text-decoration: none;
    }

.links a :visited {
        color: purple;
    }

.links a :hover {
        color: aqua;
        text-decoration: underline;
    }
.links a :active {
        color: red;
    }

.links a :visited :hover {
    color: orange;
}

.links a :visited :active {
    color: red;
}


    
