
a {
    color: blueviolet;
}

a:hover {
    color: red;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    color: #075aab;
}