/** {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}*/


footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body p {
    
        padding-left: 20px;
        padding-right: 20px;

}

h2{
    color: #075aab;
}



a.links:link {
        color: blue;
        text-decoration: none;
    }

/*a.links:visited {
        color: purple;
    }*/

a.links:hover {
        color: aqua;
        text-decoration: underline;
    }
a.links:active {
        color: red;
    }

/*a.links:visited:hover {
    color: orange;
}*/

/*.a.links:visited:active {
    color: red;
}*/


    
