* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 


body {
    
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    }

    h1 {
        text-align: center;
        margin-bottom: 15px;
        padding-top: 15px;
    }

    h4 {
        line-height: 2;
    }

    p {
        line-height: 0.7;
        font-weight: lighter;
        padding: 0px 0px 15px 30px;
        margin-bottom: 10px;
    }

    h3, h4, p {
                text-align: left;
                padding-left: 20px;
    }

    h3 {
        font-weight: bold;
        padding: 0px 0px 5px 20px;
        margin-top: 20px;
    }

    h2 {
        font-weight: bolder;
        padding: 10px 0px 10px 20px;
    }

    ul {
        padding-bottom: 10px;
        padding-left: 40px;
        list-style-type: circle;
        line-height: 1.5;
        margin-bottom: 20px;

        p {
        line-height: 1.5;
        }
    }
