body {
    
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    h1 {
        text-align: center;
    
    }

    h4 {
        line-height: 2;
    }

    p {
        line-height: 0.7;
        font-weight: lighter;
    }

    h3, h4, p {
                text-align: left;
                padding-left: 20px;
    }

    h3 {
        font-weight: bold;
    }

    h2 {
        font-weight: bolder;
    }

}