body {
    
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
    h1 {
        text-align: center;
    
    }

    h3 {
        text-align: left;
        padding-left: 20px;
    }

    h4 {
        text-align: left;
        padding-left: 20px;
        line-height: 2;
    }

    p {
        text-align: left;
        padding-left: 20px;
        line-height: 0.7;
    }

}